.main{
    display: flex;
}
.content{
    width: 100%;
    
}
.form-edit{
    width: 80%;
    margin: 2.2rem auto;
}
.side{
    min-height: 46rem;
}
.Card-flex{
    margin: 3rem auto;
}
.tags{
    margin: 0.4rem;
    
}
.deltitm{
    transition: 0.3ms all linear;
}
.deltitm:hover{
    cursor: pointer;
    transform: scale(1.4) !important;
}
.loader{
    margin: 15% 0 0 0;
}